doctype html
html
  script(id='ze-snippet' src='https://static.zdassets.com/ekr/snippet.js?key=e4d50066-8145-4c31-b85a-9cf7f8f3d77b')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
